<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
            <v-card class="mx-auto mt-5" max-width="1200">
                <v-btn rounded color="green acent-2" @click="formNuevo()">Crear</v-btn>

                <v-simple-table class="mt-5">
                    <template v-slot:default>
                        <thead>
                        <tr class="light-blue darken-2">
                            <th class="white--text">ID</th>
                            <th class="white--text">DESCRIPTION</th>
                            <th class="white--text">PRECIO</th>
                            <th class="white--text">STOCK</th>
                            <th class="white--text">ACCIONES</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="articulo in articulos" :key="articulo.id">
                            <td>{{ articulo.id }}</td>
                            <td>{{ articulo.descripcion }}</td>
                            <td>{{ articulo.precio }}</td>
                            <td>{{ articulo.stock }}</td>
                            <td>
                                <v-btn class="teal accent-4" dark @click="formEditar(articulo.id, articulo.descripcion, articulo.precio, articulo.stock)">Editar</v-btn>
                                <v-btn class="error" dark @click="borrar(articulo.id)">Borrar</v-btn>
                            </td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>

                <!--<input id="productname" placeholder="Buscar productro">-->
                <input v-model="searchprod" placeholder="Buscar producto">
                <v-btn class="teal accent-4" dark @click="formBuscar()">Buscar</v-btn>

                <!-- Componente de Diálogo para CREAR y EDITAR -->
                <v-dialog v-model="dialog" max-width="500">        
                    <v-card>
                    <v-card-title class="blue-grey darken-1 white--text">Articulo</v-card-title>    
                    <v-card-text>            
                        <v-form>             
                        <v-container>
                            <v-col>
                            <input v-model="articulo.id" hidden></input>
                            <v-row cols="12" md="4">
                                <v-text-field v-model="articulo.descripcion" label="Descripcion" solo required>{{articulo.descripcion}}</v-text-field>
                            </v-row>
                            <v-row cols="12" md="4">
                                <v-text-field v-model="articulo.precio" label="Precio" type="number" prefix="$" solo required></v-text-field>
                            </v-row>
                            <v-row cols="12" md="4">
                                <v-text-field v-model="articulo.stock" label="Stock" type="number" solo required></v-text-field>
                            </v-row>
                            </v-col>
                        </v-container>            
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click="dialog=false">Cancelar</v-btn>
                        <v-btn @click="guardar()" type="submit" color="indigo" dark>Guardar</v-btn>
                    </v-card-actions>
                    </v-form>
                    </v-card>
                </v-dialog>
            </v-card>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    var url = "http://localhost/vue_crud/crud.php";
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),

      data(){
          return{
              articulos:[],
              dialog:false,
              operacion:'',
              searchprod:'',
              articulo:{
                  id:null,
                  descripcion:null,
                  precio:null,
                  stock:null
              }
          }
      },

      created(){
        this.mostrar();
      },
      
      methods:{
        mostrar:function(){
            axios.post(url,{opcion:1})
            .then(response => {
                this.articulos = response.data;
                console.log('Cantidad: ' + response.data.length);
            })
        },

        crear:function(){
            axios.post(url,{opcion:2, descripcion:this.articulo.descripcion, precio:this.articulo.precio, stock:this.articulo.stock})
            .then(response => {
                this.mostrar();
            });
            this.articulo.descripcion = '';
            this.articulo.precio = '';
            this.articulo.stock = '';
        },

        editar:function(id, descripcion, precio, stock){
            axios.post(url, {opcion:3, id:this.articulo.id, descripcion:this.articulo.descripcion, precio:this.articulo.precio, stock:this.articulo.stock})
            .then(response => {
                this.mostrar();
            })
        },

        borrar:function(id){
            Swal.fire({
                title: 'Confirma que desea eliminar?',
                icon: 'info',
                showCancelButton: true,
            }).then( (result) => {
                if (result.isConfirmed){
                    axios.post(url, {opcion:4, id:id}).then(response => {
                        this.mostrar();
                    });
                    Swal.fire('Eliminado', '', 'Success')
                }else if (result.isDenied){
                }
            });
        },

        formBuscar:function(){
            if (this.searchprod != ''){
                axios.post(url, {opcion:5, descripcion:this.searchprod}).then(response => {
                    if (response.data.length > 0){
                        console.log(response.data);
                        Swal.fire({
                        text: response.data[0].descripcion,
                        icon: 'success',
                        title: 'Coincidencia encontrada',
                        showConfirmButton: true,
                        })
                    }else{
                        Swal.fire({
                        icon: 'error',
                        title: 'No hay coincidencias',
                        timer: 3000
                        })
                        this.searchprod = '';
                    }
                });
            }
        },

        guardar:function(){
            if (this.operacion == 'crear'){
                this.crear();
            }
            if (this.operacion == 'editar'){
                this.editar();
            }
            this.dialog = false;
        },
        formNuevo:function(){
            this.dialog = true;
            this.operacion = 'crear';
            this.articulo.descripcion = '';
            this.articulo.precio = '';
            this.articulo.stock = '';
        },
        formEditar(id, descripcion, precio, stock){
            this.articulo.id = id;
            this.articulo.descripcion = descripcion;
            this.articulo.precio = precio;
            this.articulo.stock = stock;
            this.dialog = true;
            this.operacion = 'editar';
        }
      }

    })
  </script>
</body>
</html>